@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --blue: #001e6a;
    --light-blue: #005295;
    --lighter-blue: #4f89c4;
    --yellow: #ffaa54;
}

body {
    font-family: 'Prompt', sans-serif;
}